.nav {
    position: fixed;
    top: 0;
    padding: 20px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;

    &.active {
        background-color: rgba(0, 0, 0, 0.9);
    }

    & &__izq {
        margin-left: 10px;
    
        .nav__logo {
            display: block;
            width: 15rem;
            padding: 0 1rem;
        }
    }
    
    & &__der {
        position: fixed;
        right: 20px;
        margin-right: 10px;

        &.active {

            .dropdown {
                margin-left: 0;
                padding: 0;
                position: absolute;
                right: 0;
                top: 52px;
                width: 220px;
                opacity: 1;
                transition-duration: 150ms;
                background-color: rgba(0,0,0,.9);
                border: 1pxsolidhsla(0,0%,100%,.15);
                box-sizing: border-box;
                color: #fff;
                cursor: default; 
                font-size: 13px; 
                line-height: 21px; 

                .submenu__list {
                    display: block;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    width: 100%;

                    .submenu__item {
                        display: block;
                        font-size: 13px;
                        line-height: 16px;
                        padding: 17px 10px 17px 18px;

                        .list__link {
                            align-items: center;
                            display: flex;

                            span {
                                padding-left: 2rem;
                            }
                        }
                    }
                }

                .dropdown__logout {
                    border-top: 1px solid hsla(0,0%,100%,.25);
                    padding: 10px 0;
                }
            }
        }

        &__btn {
            align-items: center;
            cursor: pointer;
            display: flex;
            width: 100%;

            .nav__avatar {
                width: 35px;
            }
    
            .caret {
                border-color: #fff transparent transparent;
                border-style: solid;
                border-width: 5px 5px 0;
                height: 0;
                margin-left: 10px;
                transition: transform 367ms cubic-bezier(.21,0,.07,1);
                width: 0;
    
                &.open {
                    transform: rotate(180deg);
                }
            }
        }

    }
}




