/* Media Queries */

@media  screen and (min-width: 600px) {
    
    .membresia__btn {
        font-size: 2rem;
    }


    /* "Nuestra historia" */
    .story__card__txt {
        
        h1 {
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        h2 {
            font-size: 2.2rem;
        }
    }

    .tv__anim__container {

        .tv__anim{
            top: 3.5rem;
            left: 6.6rem;
            width: 39.1rem;
            height: 33rem;
        }
    }

    
    /* Preguntas frecuentes */
    .faq__title {
        font-size: 3.5rem;
    }


    /* Pie de página */
    .footer__link__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__link {
        font-size: 1.5rem;
    }
    .footer p {
        font-size: 1.5rem;
    }
}


@media  screen and (min-width: 900px) {

    .banner__titulo {
        font-size: 5rem;
    }
    .banner__subtitulo {
        font-size: 2rem;
    }

    .story__card {
        display: grid;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "izquierda derecha";
        align-items: center;
    }

    
}